extends student_layout

block head
	script!= 'var PraxManager_internshipId = "' + internshipId + '";'
block footer
	script(src="/js/modules/my_internships_summary.js")
	
block content
	- var _ = lang._('my_internship_summary');
	.row(ng-cloak)
		.col-lg-12
			h1.page-header
				| PraxManager  
				small #{_('My Internships')}
			ol.breadcrumb
				li
					i.fa.fa-home
					a(href='/')  PraxManager
				li
					i.fa.fa-calendar  
					a(href="/student") #{_('My Internships')} 
				li
					a(href="/my_internship/{{internship._id}}") {{internship.Name}}

				li
					| #{_('Summary')}

	.row(ng-cloak)
		.col-lg-12(ng-show="checkins.length != 0")
			table.table.table-bordered.table-hover.table-striped
				thead
					tr
						th #{_('Date')}
						th.hidden-xs #{_('Checkin Date')}
						th #{_('Time')}
						th #{_('Status')}
						th #{_('Rejection Comment')}
				tbody
					tr(ng-repeat="checkin in checkins")
						td {{checkin.Date | amDateFormat:'dddd, MMMM Do YYYY'}}
						td.hidden-xs {{checkin.CreateDate | amDateFormat:'dddd, MMMM Do YYYY'}}
						td {{checkin.Time}}
						td {{checkin.Status}}
						td {{checkin.RejectionComment}}
						
	.row(ng-cloak)
		.col-lg-6(ng-show="checkins.length != 0")
			label(ng-show="internship.ColectDataType == 'time'") #{_('Total number of hours')}: {{timeSum}}
			label(ng-show="internship.ColectDataType == 'day'") #{_('Total number of days')}: {{timeSum}}
		.col-lg-6(ng-show="checkins.length != 0")
			a.btn.btn-primary.pull-right(href="/print/student_presence?internshipId={{internship._id}}&userId={{user._id}}") #{_('Print / Download')}
		
		.col-lg-12(ng-show="checkins.length == 0")
			p #{_('No data avalable')}